* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/*utilities*/

.container
{
	max-width: 1152px;
	width: 80%;
	margin: auto;
}

.row
{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -1rem;
}

[class^='col-']
{
	padding: 0 1rem;
}

.col-4
{
	width: calc(100% / 12 * 4);
}

.col-6
{
	width: calc(100% / 12 * 6);
}

.col-8
{
	width: calc(100% / 12 * 8);
}

.col-12
{
	width: 100%;
}

.d-none
{
	display: none;
}

.d-block
{
	display: block;
}

.d-flex {
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.text-center{
    text-align: center;
}

.f-direction-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.img-fluid {
    max-width: 100%;
}

.jc-center {
   justify-content: center;
}


.p-relative {
    position: relative;
}

/* Mobile First */
header
{
	background-color: blue;
}

header nav
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

header nav > .desktop_menu
{
	display: none;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 1.3rem;
}

.btn {
    background-color: white;
    color: black;
    padding: 0.5rem 0.5rem;
    border-radius: 13px;
}

.mobile_menu {
    color: white;
}


/*main*/

/*#region section-service*/

.btn_blue {
    display: inline-block;
    padding: 0.35rem 1rem;
    border-radius: 25px;
    text-decoration: none;
    margin-top: 2rem;
    
}


.card_two>img{
    width: 100%;
    margin-bottom: -.3rem;
}

.col-12>img{
    width: 100%;
}

#services .row {
    padding: 2.5rem 0;
    margin: 0 -1rem;
}

#services [class^="col-"] {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
}

#services .card {
    background-color: #b5ddff;
    border-radius: 20px;
    padding: 0 2rem;
    height: 100%;
}

#services .card .card_two {
   font-weight: bold;
    color:  #3f3e3e94;
}

#services .card .card_two h2 {
    color:  #0084fd;
    margin: 1.5rem 0;
}

#services .card .card_two p {
    
    line-height: 170%;
}

#services .card .card_two a {
    color: white;
    background-color: #0084fd;
    letter-spacing: .15rem;
}

#services .card .card_one {
    text-align: center;
    padding-top: 2rem;
    line-height: 0;
    color: #0084fd;
}

#services .card > *:last-child {
    margin-top: 1rem;
}

/*#endregion section-service*/

/*#region section-strategic*/

#strategic {
    background-color:  #9792E4;
    margin-top: 3rem;
}

.cursive{
    font-style: italic;
}

.white_card {
    background-color: white;
    border-radius: 30px;
    padding: 2rem;
    margin: 2rem 0;
}

.blue_card {
    color: white;
}

 .freccia {
     background-color: #9792e4;
     border-radius: 50%;
     margin-top: 2rem;
     padding: 2rem 1.5rem;
     color: black;
 }

 .blue_card>img,
 .white_card>img {
    width: 100%;
}

#strategic h2 {
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-size: 1.8rem;
}

#strategic p {
    line-height: 1.6rem;
}

#strategic h3 {
    padding: 1.2rem 0;
}

/*#endregion strategic*/


/*#region testimonials*/

.purple_box {
    text-align: center;
    flex-direction: column;
    align-items: center;
    background-color: #9792E4;
    color:  #FFFFFF;
    padding: 1rem;
    border-radius: 50px;
    margin: 1rem 0;
    line-height: 2rem;
    
}

.purple_box>.NAT_img,
.purple_box>.CELIA_img,
.purple_box>.BOB_img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.purple_box>.NAT_img {
    background-image: url(../assets/img/testimonial1.jpg);
}

.purple_box>.CELIA_img {
    background-image: url(../assets/img/testimonial2.jpg);
}

.purple_box>.BOB_img {
    background-image: url(../assets/img/testimonial3.jpg);
}

#testimonials>.container{
    padding: 1rem;
}

#testimonials>.container>.row>.col-12>div {
    padding: 1rem 0;
}

#testimonials>.container>.row>.col-12>h2 {
    color: #9792E4;
    font-size: 1.8rem;
    padding-bottom: 2rem;
}

.introduction {
    line-height: 1.8rem;
}

/*#endregion testimonials*/


/*#region benefits*/

#benefits {
    margin-top: 8rem;
    background-color: #9792E4;
}

#benefits .card {
    background-color: white;
    margin-top: 2rem;
    border-radius: 15px;
    margin-bottom: 2rem;
}

#benefits h2 {
    padding-top: 3rem;
    color: white;
    font-size: 2rem;

}

.number_card {
    font-size: 2.5rem;
    padding: 1.5rem;
    color: #9792E4;
    
}

#benefits h4 {
    font-size: 1.5rem;
    color: #9792E4;
    padding: 1.5rem;
    padding-top: 0;
}
    
#benefits .card p {
    padding: 0 1.5rem;
    line-height: 1.5rem;
    color: #3f3e3e94;
}

#benefits .btn_benefits {
    padding: 1.5rem;
    
}

#benefits a {
    background-color: #9792E4;
    text-decoration: none;
    color: white;
    padding: 0.5rem 3rem;
    border-radius: 15px;
    font-weight: bold;
}
    
/*#endregion benefits*/

/*#region about-us*/


#about_us h2 {
    font-size: 2.5rem;
    color: #9792E4;
    padding-top: 4rem;
    padding-bottom: 2rem;
}


#about_us p {
    line-height: 2rem;
    
}

#about_us h3 {
    font-size: 1.7rem;
    color: #9792e4;
    padding: 1.5rem 0;
}

#about_us>.container>.row>.col-12>.about-us_img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/about.jpg);
   
}

#about_us>.container>.row>.col-12>.fa-solid.fa-quote-left {
    position: absolute;
    left: 7rem;
    top: 1.5rem;
    scale: 1.5;
    color: #9792E4;
}

#about_us a {
    background-color: #9792E4;
    text-decoration: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

/*#endregion about-us*/

/*#region get started*/

#get_started {
    margin-top: 5rem;
    background-color: #9792E4;
}

#get_started h4 {
     padding-top: 3rem;
     color: #dadada;
     font-weight: lighter;
}

#get_started h2 {
    color: white;
    padding: 1rem 0.5rem;
}

.free {
    color: orange;
    font-size: 3.5rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

#get_started p {
    color: white;
}

.get {
    padding: 2.5rem 0;
}

#get_started .btn_get {
    background-color: white;
    text-decoration: none;
    color: #9792E4 ;
    padding: 1rem 4.5rem;
    border-radius: 30px;
    font-weight: bold;
    
}

.policy {
    font-size: 0.8rem;
    padding-bottom: 3rem;
}

#get_started a{
    color: white;
}

/*#endregion get started*/

/*#region footer*/

footer {
    background-color: black;
    color: white;
    padding: 2rem 0;
    font-size: 0.9rem;
}

.boolean {
    padding-top: 3rem;
}

footer a {
    color: #9792E4;
    
}

/*#endregion footer*/

@media screen and (min-width: 768px)
{
	.d-md-none
	{
		display: none;
	}

	.d-md-block
	{
		display: block;
	}

	.col-md-4
	{
		width: calc(100% / 12 * 4);
	}

	.col-md-6
	{
		width: calc(100% / 12 * 6);
	}

	.col-md-8
	{
		width: calc(100% / 12 * 8);
	}

	.col-md-12
	{
		width: 100%;
	}

    .card_two>img{
        width: 70%;
        margin-bottom: -.3rem;
    }

    .purple_box {
        flex-direction: row;
        justify-content: space-around;
        text-align: left;
    }

    .testimonial_text {
        width: 65%;
    }



    #get_started>.container,
    footer>.container {
        max-width: 900px;
        width: 80%;
        margin: auto;
        padding: 0 5rem;
    }


}

@media screen and (min-width: 1024px)
{
	.container{
        width: 80%;
    }
	header nav > .mobile_menu
	{
		display: none;
	}
	header nav > .desktop_menu
	{
		display: block;
	}

	.col-12.col-md-8 > .card{
        display: flex;
    }

    #strategic>.container>div.row{
        flex-direction: row;
    }
    .col-l-6{
		width: calc(100% / 12 * 6);
    }
    .white_card{
        width: 75%;
        align-self: flex-end;
    }
    .white_card>img{
        width: 65%;
    }
    
    #strategic h3 {
        padding: 0;
    }

    .freccia {
        margin-top: 1rem;
        padding: 1.5rem 1rem;
    }

    .col-l-4 {
        width: calc(100% / 12 * 4);
    }

    .blue_card {
        padding-bottom: 2rem;
    }
}

